<div class="p-10">
  <div class="flex items-center justify-between">
    <div class="flex mt-5 mb-5 text-2xl font-medium pr-5">
      Records
    </div>
    <div class="pr-2">
      <ejs-tooltip content="Click here to add new record.">
        <button ejs-button (click)="openAddDetailPage()"
                content="Add New Record" [isPrimary]="true"></button>
      </ejs-tooltip>
    </div>
  </div>
  <ejs-grid #gridReference [dataSource]="data" allowTextWrap="true" gridLines="Both"
            [allowSorting]="true" [allowFiltering]="true" width="100%"
            [allowPaging]="true" [allowPdfExport]="true" showColumnChooser='true'
            [allowExcelExport]="true" [pageSettings]="initialPageSettings"
            [toolbar]='gridToolbarOptions' (toolbarClick)="onToolbarClick($event)"
            (pdfHeaderQueryCellInfo)='pdfHeaderQueryCellInfo($event)'
            (printComplete)="onStandardGridExportComplete()"
            (excelExportComplete)="onStandardGridExportComplete()"
            (pdfExportComplete)='onStandardGridExportComplete()'>
    <e-columns>
      <e-column field="y_seq" headerText="y seq" width="100"></e-column>
      <e-column field="mdrm" headerText="mdrm" width="100"></e-column>
      <e-column field="schedule" headerText="schedule" width="120"></e-column>
      <e-column field="line_item_code" headerText="Line Item Code" width="120"></e-column>
      <e-column field="item_name" headerText="Item Name" width="120"></e-column>
      <e-column field="q2_2023" headerText="q2 2023" width="120"></e-column>
      <e-column field="q3_2023" headerText="q3_2023" width="120"></e-column>
      <e-column field="abs_change_pct" headerText="Abs Change Pct" width="130"></e-column>
      <e-column headerText="Action" width="100">
        <ng-template #template let-data>
          <ejs-tooltip content="Click here to update record.">
            <button ejs-button content="Edit" (click)="openUpdateDetailPage(data)"></button>
          </ejs-tooltip>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>

<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 mr-0 sm:mr-0 md:mr-36"
     *ngIf="addOrUpdateDetailsPageVisibility">
  <div class="bg-white w-full h-full overflow-auto p-8 absolute right-0 left-0 md:left-40 top-1/2 transform -translate-y-1/2">
    <app-modify-details [selectedRecordDetails]="selectedRecordDetails"></app-modify-details>
  </div>
</div>
